@model OnlineShop2.Models.ProductType
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<br />
<div class="row">
    <div class="col-10 offset-1">

        <h2 class="text-info">Details Product Type</h2>

        <form method="post" asp-action="Details">
            <div class="p-4 rounded border">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="ProductTypeName"></label>
                    </div>
                    <div class="col-9">
                        <input asp-for="ProductTypeName" readonly class="form-control" />
                        <span asp-validation-for="ProductTypeName" class="text-danger"></span>
                    </div>

                </div>
                <br />
                <div class="form-group">       
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                    <input type="submit" class="btn btn-success" value="Back to List" />                    
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
    }
